@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&dkkisplay=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Megrim&display=swap");

@font-face {
    font-family: valorantFont;
    src: url(./../resources/valorantFont/font.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
}
*:focus {
    outline: none;
    box-shadow: 0 0 0 0.5rem #f72585;
    transform: scale(1.1);
    transition: all 0.2s ease 0s;
}
.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
    transition: all ease 1s 0.5s;
}
.section--visible {
    opacity: 1;
    transform: translateY(0rem);
    transition: all ease 1s 0.5s;
}
.preLoad {
    display: none;
}
.common-headings {
    font-family: "valorantFont", cursive;
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-right: 2rem;
    text-align: right;
    outline-color: white;
    outline-width: 1px;
    outline-offset: -0.5rem;
    outline-style: solid;
}
.common-sub-headings {
    font-family: "Rubik", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
    padding-right: 2rem;
    text-align: right;
    margin-top: 2rem;
    letter-spacing: 2px;
}
a:focus {
    outline: none;
    box-shadow: none;
}
